<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Dating App</a>

    <ul *ngIf="loggenIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/members']">Matches</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['/lists']">Lists</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/messages">Messages</a>
        </li>


    </ul>
    <form *ngIf="!loggenIn(); else loggedInUser;" #loginForm="ngForm" (ngSubmit)="onSubmit()"
        class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="username" type="text" placeholder="username" ngModel required>
        <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" ngModel required>
        <button class="btn btn-success my-2 my-sm-2" type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>

    <ng-template #loggedInUser>
        <div class="mr-3">
            <span dropdown>
                <a href id="basic-link" dropdownToggle (click)="false" aria-controls="basic-link-dropdown">Welcome
                    {{authService.currentUser?.username}}</a>
                <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="basic-link">
                    <li><a class="dropdown-item" [routerLink]="['/members/edit']"><i class="fa fa-user"></i>Edit Profile</a></li>
                    <li><a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Log
                            out</a></li>
                </ul>
            </span>
        </div>
    </ng-template>

</nav>